.skills {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    background: #cd46f1;
    background: linear-gradient(225deg, #cd46f1, #41b3bc);
    padding: 170px 0px;
    backdrop-filter: blur(15px);
    padding: 25px 55px;
    gap: 20px;

    .skills__title {
        font-size: 50px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 25px;
        font-size: 24px;
        color: #ffffff;
    }
    .skills__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 30px;

        .skills__content__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: 10px;
            font-size: 20px;
            color: #ffffff;
            border: 2px solid #ffffff;
            padding: 12px 14px;
            transition: all 0.7s;
            border-radius: 8px;
            .icons {
                font-size: 50px;
            }
            &:hover {
                background-color: #ffffff;
                color: #000;
                cursor: pointer;
                transform: scale(1.1);
            }
            p {
                font-size: 20px;
                text-align: center;
                color: #232323;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .skills {
        .skills__title {
            font-size: 30px;
        }
        .skills__content {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 425px) {
    .skills {
        .skills__title {
            font-size: 25px;
        }
        .skills__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 320px) {
    .skills {
        .skills__title {
            font-size: 20px;
        }
        .skills__content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
