.skills {
    display: block;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    padding: 70px 0px;
    backdrop-filter: blur(15px);
    height: auto;
    h1 {
        font-size: 50px;
        color: #ffffff;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 40px;
        &-left {
            width: 100%;
            padding: 20px 0px;
            &__item {
                border: 1px solid #ffffff;
                font-size: 14px;
                margin-bottom: 15px;
                padding: 12px;
                border-radius: 10px;
                color: #ffffff;
                transition: all 0.7s;
                line-height: 30px;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                    background: #ffffff;
                    color: #000000;
                    transition: all 0.7s;
                    strong {
                        i > mark {
                            background: #000000;
                            color: #ffff00;
                            padding: 6px;
                            border-radius: 12px;
                        }
                    }
                }
                strong {
                    margin-bottom: 5px;
                    display: block;
                    i > mark {
                        background: #ffffff;
                        color: #000000;
                        padding: 6px;
                        border-radius: 12px;
                    }
                }
            }
        }
        &-right {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            &__item {
                font-size: 18px;
                margin-bottom: 10px;
                padding: 24px;
                display: flex;
                height: 150px;
                flex-direction: column;
                border-radius: 20px;
                transition: all 0.7s;
                line-height: 30px;
                justify-content: center;
                align-items: center;
                .icons {
                    color: #ffffff;
                    font-size: 100px;
                    margin-bottom: 20px;
                }
                .text {
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: center;
                }
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                    background: #41b3bc;
                    .text {
                        color: #000000;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .skills {
        &__content {
            flex-direction: column;
            align-items: center;
            &-left {
                width: 100%;
                &__item {
                    padding: 10px;
                    &:hover {
                        transform: scale(0.9);
                    }
                }
            }
            &-right {
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
