.hero {
    padding: 240px 0px;
    width: 100%;
    height: auto;
    .hero__content {
        width: 100%;
        height: auto;
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 45px;
        background: transparent;
        transition: all 0.7s;
        &:hover {
            transform: scale(1.1);
            background-color: hsla(177, 100%, 14%, 0.389);
        }
        .hero__title {
            text-align: left;
            h1 {
                font-size: 38px;
                line-height: 46px;
                color: #fff;
                margin-bottom: 25px;
                left: 20px;
            }

            .hero__subtitle {
                font-size: 24px;
                line-height: 30px;
                color: #ffffff;
                margin-top: 10px;
                text-align: left !important;
                margin-bottom: 25px;
            }

            .socails {
                display: flex;
                gap: 25px;
                color: #ffffff;
                a {
                    color: #ffffff;
                    font-size: 48px;
                    transition: all 0.7s;
                    i {
                        color: #04502d;
                        font-size: 24px;
                    }

                    &:hover {
                        color: #ff8906;
                        i {
                            color: #ff8906;
                        }
                    }
                }
            }
        }
        .hero__content__image {
            height: 100%;
            padding: 20px;
            img {
                width: 400px;
                height: 400px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        .hero__content {
            .hero__title {
                h1 {
                    font-size: 40px;
                }
                .hero__subtitle {
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .hero {
        .hero__content {
            .hero__title {
                h1 {
                    font-size: 35px;
                }
                .hero__subtitle {
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .hero {
        .hero__content {
            .hero__title {
                h1 {
                    font-size: 25px;
                }
                .hero__subtitle {
                    font-size: 20px;
                }
            }
        }
    }
}
