.hero {
    width: 100%;
    height: 100vh;
    background: #cd46f1;
    background: linear-gradient(225deg, #cd46f1, #41b3bc);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        .layout__left {
            width: 100%;
            height: 100%;
            .hero__title {
                font-size: 50px;
                font-weight: 800;
                line-height: 60px;
                margin-bottom: 20px;
                color: #232323 !important;
            }
            .hero__subtitle {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 20px;
                color: #232323 !important;
            }
            .hero__button-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                .hero__button {
                    padding: 10px 10px;
                    color: #41b3bc;
                    border: none;
                    border-radius: 5px;
                    font-size: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    gap: 10px;
                    cursor: pointer;
                    transition: all 0.7s;
                    text-decoration: none;
                    background-color: #232323;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                .socail__button {
                    padding: 12px 12px;
                    color: #41b3bc;
                    border: none;
                    border-radius: 5px;
                    font-size: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.7s;
                    text-decoration: none;
                    background-color: #232323;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        .layout__right {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: end;
            .hero__image {
                width: 500px;
                height: 500px;

                text-align: center;
                img {
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    transition: all 0.7s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        .layout {
            .layout__left {
                .hero__title {
                    font-size: 30px;
                }
                .hero__subtitle {
                    font-size: 20px;
                }
            }
            .layout__right {
                .hero__image {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .hero {
        .layout {
            .layout__left {
                .hero__title {
                    font-size: 20px;
                }
                .hero__subtitle {
                    font-size: 15px;
                }
            }
            .layout__right {
                .hero__image {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .hero {
        .layout {
            .layout__left {
                .hero__title {
                    font-size: 15px;
                }
                .hero__subtitle {
                    font-size: 10px;
                }
            }
            .layout__right {
                .hero__image {
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}
