.contact {
    width: 100%;
    height: auto;
    background-color: hsla(177, 100%, 14%, 0.389);
    backdrop-filter: blur(15px);
    padding-top: 120px;
    padding: 40px 0px;
    .contact__title {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 50px;
            font-weight: 900;
        }
    }
    .contact__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: first baseline;
        padding: 0px 50px;

        .contact__content__right {
            width: 50%;
            height: 100%;
            form {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .mb-4 {
                    width: 100%;
                    margin-bottom: 20px;
                    label {
                        font-size: 20px;
                        font-weight: 600;
                        text-align: left;
                        margin-bottom: 8px;
                        display: block;
                    }
                    .form__contact__email__wrapper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border: 2px solid #ffff;
                        width: 100%;
                        padding: 26px 0px;
                        height: 50px;
                        background: #ffff;
                        input {
                            width: 95%;
                            height: auto;
                            padding: 12px;
                            border: none;
                            outline: none;
                            font-size: 18px;
                        }
                        .icons {
                            font-size: 24px !important;
                            color: #397524;
                        }
                    }
                    .form__contact__email__textarea__wrapper {
                        background: #fff;
                        border: 2px solid #ffff;
                        width: 100%;
                        height: 250px;
                        display: flex;
                        padding: 0px 10px;
                        justify-content: space-between;
                        align-items: first baseline;
                        .form__contact__message {
                            width: 90%;
                            font-size: 18px;
                            border: none;
                            outline: none;
                            height: 100px;
                            resize: none;
                        }
                        .icons-text {
                            color: #397524;
                            margin-top: 5px;
                            font-size: 28px !important;
                        }
                    }
                }
                .contact__form__submit {
                    width: 100%;
                    height: 60px;
                    padding: 10px 20px;
                    margin-top: 10px;
                    font-size: 20px;
                    font-family: "Sora", sans-serif;
                    cursor: pointer;
                    font-weight: 600;
                    border: 2px solid #fff;
                    border-radius: 1px;
                    transition: all 0.7s;
                    &:hover {
                        background-color: #397524;
                        color: white;
                        border-color: #397524;
                    }
                }
            }
        }
    }
}
