.portfolio {
    display: block;
    width: 100%;
    background-color: #ffffff;
    padding: 70px 0px;
    backdrop-filter: blur(15px);
    height: auto;
    overflow: hidden;

    h1 {
        font-size: 50px;
        color: #000000;
        margin-bottom: 15px;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        &-items {
            display: block;
            border-radius: 10px;
            padding: 20px;
            gap: 10px;

            .header {
                width: 100%;
                height: 300px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .body {
                width: 100%;
                height: auto;

                h3 {
                    font-size: 30px;
                    color: #000000;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 18px;
                    color: #000000;
                    margin-bottom: 15px;
                }

                &__links {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 40px;

                    a {
                        font-size: 18px;
                        color: #000000;
                        text-decoration: none;
                        transition: all 0.7s;
                        width: 170px;
                        padding: 15px 18px;
                        border-radius: 5px;
                        background: #000000;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #ffffff;
                        transition: all 0.7s;

                        &:hover {
                            background-color: #41b3bc;
                            color: #ffffff;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 50px 0px; // Paddingni cheklang

        h1 {
            font-size: 30px;
        }

        &__body {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;

            &-items {
                width: 100%;
                padding: 10px;

                .header {
                    width: 100%;
                    height: 200px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .body {
                    h3 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }

                    &__links {
                        gap: 20px;

                        a {
                            font-size: 16px;
                            width: 150px;
                            padding: 10px 12px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .portfolio {
        padding: 30px 0px; // Paddingni yana cheklang

        h1 {
            font-size: 25px;
        }

        &__body {
            gap: 10px;

            &-items {
                padding: 10px 10px;

                .header {
                    height: 150px;
                }

                .body {
                    h3 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }

                    &__links {
                        gap: 10px;

                        a {
                            font-size: 14px;
                            width: 130px;
                            padding: 8px 10px;
                        }
                    }
                }
            }
        }
    }
}
