.portfolio {
    display: block;
    width: 100%;
    height: auto;
    background: #cd46f1;
    background: linear-gradient(225deg, #cd46f1, #41b3bc);
    padding: 70px 0px;
    backdrop-filter: blur(15px);
    margin-bottom: 40px;
    .portfolio__title {
        text-align: left;
        font-size: 50px;
        color: #232323 !important;
        padding: 0px 50px;
        margin-bottom: 15px;
    }

    .portfolio__subtitle {
        text-align: left;
        font-size: 30px;
        color: #ffffff;
        padding: 0px 50px;
        margin-bottom: 30px;
    }

    .portfolio__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .portfolio__content-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        transition: all 0.7s;
        width: 420px;
        &:hover {
            cursor: pointer;
            background: #232323;
            backdrop-filter: blur(45px);
            transform: scale(1.1);
        }
        .card__image {
            width: 420px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color: aliceblue;
            border-radius: 20px;
            background: hsla(0, 5%, 78%, 0.303);
            transition: all 0.7s;
            backdrop-filter: blur(1px);
            &:hover {
                cursor: pointer;
                background: hsla(0, 0%, 0%, 0.803);
                backdrop-filter: blur(45px);
                transform: scale(0.9);
                color: #ff8906;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 20px;
            }
        }
        .card__links {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 35px 10px;

            .cool-link {
                display: inline-block;
                color: #ffffff;
                text-decoration: none;
                padding: 0px 10px;
                font-size: 20px;
                font-weight: 500;
                transition: all 0.7s;
                &:hover {
                    color: #ff8906;
                }
                span {
                    margin-right: 10px;
                }
            }

            .cool-link::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #ff8906;
                transition: width 0.3s;
            }

            .cool-link:hover::after {
                width: 100%;
                //transition: width .3s;
            }
        }
    }
}

// ==============================================  Media Query ==============================================//

@media screen and (max-width: 768px) {
    .portfolio {
        .portfolio__title {
            font-size: 40px;
        }
        .portfolio__subtitle {
            font-size: 25px;
        }

        .portfolio__content-card {
            width: 100% !important;
            padding: 0px 10px;
            .card__image {
                width: 300px;
                height: 200px;
            }
        }

        .portfolio__content {
            gap: 20px;
        }

        .card__links {
            .cool-link {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .portfolio {
        .portfolio__title {
            font-size: 25px;
        }
        .portfolio__subtitle {
            font-size: 20px;
        }

        .portfolio__content-card {
            padding: 0px 10px;
            width: 100% !important;
            .card__image {
                width: 200px;
                height: 150px;
            }
        }

        .portfolio__content {
            gap: 10px;
        }

        .card__links {
            .cool-link {
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .portfolio {
        padding: 40px 0px;
        .portfolio__title {
            font-size: 20px;
        }
        .portfolio__subtitle {
            font-size: 15px;
        }

        .portfolio__content-card {
            padding: 0px 10px;
            width: 100% !important;
            .card__image {
                width: 150px;
                height: 100px;
            }
        }

        .portfolio__content {
            gap: 5px;
        }

        .card__links {
            .cool-link {
                font-size: 10px;
            }
        }
    }
}

// ==============================================  Media Query ==============================================//
