.feadback {
    width: 100%;
    height: auto;
    background-color: hsla(177, 100%, 14%, 0.389);
    padding: 70px 0px;
    backdrop-filter: blur(15px);
    margin-bottom: 40px;
    .feadback__content-header {
        text-align: center;
        margin-bottom: 50px;
        .feadback__title {
            font-size: 36px;
            font-weight: 600;
        }
        p {
            font-size: 18px;
            line-height: 30px;
            color: #ffffff;
            margin-top: 10px;
            padding: 10px 180px;
        }
    }
    .feadback__content {
        width: 100%;
        padding: 0px 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .feadback__content-card {
            background-color: #ffff;
            padding: 20px;
            height: auto;
            border-radius: 10px;
            .feadback__content-card__text {
                margin-bottom: 14px;
                .feadback__content-card__text__title {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .feadback__content-card__body {
                p {
                    font-size: 18px;
                    line-height: 30px;
                    margin-bottom: 10px;
                    color: #000;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .feadback {
        .feadback__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .feadback {
        .feadback__content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 425px) {
    .feadback {
        .feadback__content-header {
            p {
                padding: 10px;
            }
        }
    }
}
