.card__share {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    right: 10px;
    bottom: 30px;
    align-items: center;
    button {
        font-size: 20px;
        padding: 8px;
        border-radius: 10px;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff !important;
        background: #000 !important;
        transition: all 0.7s;
        &:hover {
            cursor: pointer;
            background: #ffffff !important;
            color: #000;
        }
    }
}
